.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log

# Ignore Terraform state files and local directories
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
.terraform/
lesson-5/.terraform/

# IDE files (example for VSCode)
.vscode/
.idea/