# Jenkins credentials
github_username    = "your-github-username"
github_pat         = "ghp_your_personal_access_token"
github_repo_url    = "https://github.com/your-github-username/infra.git"

# Argo CD credentials (usually same as Jenkins if using same repo)
# app_repo_url - Git repository where Helm chart (django-chart) is located
# app_repo_username - GitHub username (usually same as github_username)
# app_repo_password - GitHub PAT (usually same as github_pat)
app_repo_url       = "https://github.com/your-github-username/infra.git"
app_repo_username  = "your-github-username"
app_repo_password  = "ghp_your_personal_access_token"

